<div
  data-oke-badge
  data-oke-layout="minimal"
  data-oke-star-background-color="#FAF6F0"
  data-oke-star-height-px="12"
  data-oke-star-border-enabled="true"
  data-oke-star-border-color="#E65919"
  data-oke-star-foreground-color="#E65919"
></div>

<style>
  .oke-minimalBadge {
    display: flex;
    justify-content: space-between; /* Space out stars and count + REVIEW */
    align-items: center; /* Vertically align stars and text */
  }

  .oke-minimalBadge-stars {
    display: flex;
    align-items: center;
    margin-right: 8px; /* Space between stars and the count */
  }

  .oke-minimalBadge-count {
    display: flex;
    gap: 4px; /* Space between the number and REVIEW */
    align-items: center; /* Align 1 and REVIEW vertically */
    font-family: var(--font-body-family);
    font-size: 0.75rem;
    line-height: 1.1;
    font-weight: 400;
  }

  .oke-minimalBadge-count span {
    font-size: 0.75rem; /* REVIEW text size */
    font-weight: 500;
    text-transform: uppercase;
  }
</style>
