<div
  data-oke-badge
  data-oke-layout="minimal"
  data-oke-star-background-color="#FAF6F0"
  data-oke-star-height-px="12"
  data-oke-star-border-enabled="true"
  data-oke-star-border-color="#E65919"
  data-oke-star-foreground-color="#E65919"
></div>
