<div
  data-oke-badge
  data-oke-layout="minimal"
  data-oke-star-background-color="#E5E5E5"
  data-oke-star-height-px="12"
  data-oke-star-border-enabled="false"
  data-oke-star-border-color="#2C3E50"
  data-oke-star-foreground-color="#FFCF2A"
></div>
