<div
  data-oke-badge
  data-oke-layout="minimal"
  data-oke-star-background-color="#faf6f0"
  data-oke-star-height-px="12"
  data-oke-star-border-enabled="true"
  data-oke-star-border-color="#e65919"
  data-oke-star-foreground-color="#e65919"
></div>
