<div
  data-oke-badge
  data-oke-layout="minimal"
  data-oke-star-background-color="#FAF6F0"
  data-oke-star-height-px="12"
  data-oke-star-border-enabled="true"
  data-oke-star-border-color="#E65919"
  data-oke-star-foreground-color="#E65919"
></div>

<style>
  .oke-minimalBadge {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .oke-minimalBadge-stars {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .oke-minimalBadge-count {
    display: flex;
    gap: 4px;
    align-items: center;
    font-family: var(--font-body-family);
    font-size: 0.75rem;
    line-height: 1.1;
    font-weight: 400;
  }

  .oke-minimalBadge-count::before,
  .oke-minimalBadge-count::after {
    content: ""; /* Remove unwanted parentheses from the whole container */
  }

  /* Specific styling for the review count */
  .oke-minimalBadge-count > span:first-child::before {
    content: "("; /* Add opening parenthesis to the count */
  }

  .oke-minimalBadge-count > span:first-child::after {
    content: ")"; /* Add closing parenthesis to the count */
  }

  .oke-minimalBadge-count > span:last-child {
    font-size: 0.75rem; /* REVIEW text size */
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 4px; /* Space REVIEW from count */
  }
</style>
