<section class="made-without">
  <label class="eyebrow">{{ section.settings.eyebrow }}</label>
  <ul class="point-list">
    {%- for block in section.blocks -%}
      <li class="bulletpoint-item">
        <h4>&times; {{ block.settings.bulletpoint_text }}</h4>
      </li>
    {%- endfor -%}
  </ul>
</section>

<style>
  .made-without {
    color: var(--color-chenpi);
    background-color: var(--color-albedo);
    text-align: center;
  }

  .point-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    white-space: nowrap;
  }

  .bulletpoint-item h4 {
    text-transform: uppercase;
  }

  @media (max-width: 375px) {
    .point-list {
      flex-direction: column;
      padding: 1.5rem;
      gap: 1.25rem;
    }
     .bulletpoint-item h4{
       margin: 0;
     }
  }
</style>

{% schema %}
{
  "name": "Bullet List",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow",
      "default": "14 INGREDIENTS. NOTHING EXTRA."
    }
  ],
  "blocks": [
    {
      "type": "point",
      "name": "Point",
      "settings": [
        {
          "type": "text",
          "id": "bulletpoint_text",
          "label": "Point",
          "default": "Bulletpoint"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bullet List",
    }
  ]
}
{% endschema %}
