<section class="made-without">
  <div class="point-wrapper">
    <label class="eyebrow">{{ section.settings.eyebrow }}</label>
    <ul class="point-list">
      {%- for block in section.blocks -%}
        <li class="bulletpoint-item">
          <h4>&times; {{ block.settings.bulletpoint_text }}</h4>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>

<style>
  .made-without {
    color: var(--color-chenpi);
    padding: 3rem 0;
    background-color: var(--color-albedo);
    text-align: center;
  }

  .point-wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Stack eyebrow and point list */
    gap: 0.5rem; /* Add vertical spacing */
  }

  .point-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .bulletpoint-item h4 {
    text-transform: uppercase;
  }

  @media (max-width: 750px) {
    .point-list {
      display: block;
    }

    .bulletpoint-item {
      margin-bottom: 1rem;
    }

    .bulletpoint-item:last-child {
      margin-bottom: 0;
    }
  }
</style>

{% schema %}
{
  "name": "Made Without",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow",
      "default": "14 INGREDIENTS. NOTHING EXTRA."
    }
  ],
  "blocks": [
    {
      "type": "point",
      "name": "Point",
      "settings": [
        {
          "type": "text",
          "id": "bulletpoint_text",
          "label": "Point",
          "default": "Bulletpoint"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "point Module",
    }
  ]
}
{% endschema %}
