<section class="ingredients-module">
  <div class="ingredients-wrapper">
    <h5 class="ingredients-heading">{{ section.settings.ingredients_heading }}</h5>
    <ul class="ingredients-list">
      {%- for block in section.blocks -%}
        <li class="ingredient-item">
          <h4>&times; {{ block.settings.ingredient_text }}</h4>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>

<style>
  .ingredients-module{
    color: var(--color-chenpi);
    padding: 1.5rem;
    background-color: var(--color-albedo);
  }
  .ingredients-wrapper{
    width: 75%;
    margin: 0 auto;
  }
  .ingredients-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.ingredients-heading h5 {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.ingredient-item h4 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

</style>

{% schema %}
{
  "name": "Ingredients Module",
  "settings": [
    {
      "type": "text",
      "id": "ingredients_heading",
      "label": "Heading Text",
      "default": "14 INGREDIENTS. NOTHING EXTRA."
    }
  ],
  "blocks": [
    {
      "type": "ingredient",
      "name": "Ingredient",
      "settings": [
        {
          "type": "text",
          "id": "ingredient_text",
          "label": "Ingredient Text",
          "default": "Example Ingredient"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ingredients Module",
    }
  ]
}
{% endschema %}


