<section class="made-without">
  <div class="point-wrapper">
    <h5 class="point-heading">{{ section.settings.point_heading }}</h5>
    <ul class="point-list">
      {%- for block in section.blocks -%}
        <li class="point">
          <h4>&times; {{ block.settings.ingredient_text }}</h4>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>

<style>
    .made-without{
      color: var(--color-chenpi);
      padding: 0.5rem 0 2.2rem 0;
      background-color: var(--color-albedo);
      text-align: center;
    }
    .point-wrapper{
      width: 75%;
      margin: 0 auto;
    }
    .point-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
    .point-heading h5 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }
    .point h4 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }
</style>

{% schema %}
{
  "name": "Made Without",
  "settings": [
    {
      "type": "text",
      "id": "point_heading",
      "label": "Heading Text",
      "default": "14 point. NOTHING EXTRA."
    }
  ],
  "blocks": [
    {
      "type": "point",
      "name": "point",
      "settings": [
        {
          "type": "text",
          "id": "ingredient_text",
          "label": "Point",
          "default": "Example Point"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "point Module",
    }
  ]
}
{% endschema %}
