/* Parent Container */
.custom-footer {
  background-color: var(--color-citron);
  color: var(--color-soil);
  padding-top: 3rem;
}

/* Footer Container */
.custom-footer-container {
  display: flex; 
  gap: 3rem;
  margin: 0 3rem;
}

/* Newsletter Section */
.custom-footer-newsletter {
  flex: 1 1 50%;
  max-width: 50%; 
  padding-right: 25%; 
}

/* Navigation Section */
.navigation {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap; 
  gap: 3rem; 
}

/* Footer Logo Section */
.custom-footer-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: auto;
  padding: 2rem;
}

/* Footer Columns */
.custom-footer-column {
  flex: 1 1 auto; /* Flexible width */
}

/* Footer Headings */
.custom-footer-heading {
  margin-bottom: 1.5rem; /* Space between heading and list */
}

.custom-footer-column .custom-footer-heading {
  margin-bottom: 1.5rem; /* Ensures higher specificity */
}



/* Footer Lists */
.custom-footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Space between list items */
}

/* Footer List Items
.custom-footer-list-item {
  margin: 0; /* Removed margin to avoid duplication with gap
}*/


/* Footer Links */
.custom-footer-link {
  text-decoration: none;
  color: var(--color-soil);
}

.custom-footer-link:hover {
  text-decoration: underline;
}

.custom-footer-policy-link {
  text-decoration: none;
  color: var(--color-soil);
}

/* Bottom Section */
.custom-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: var(--color-albedo);
}

/* Policies on the Left */
.custom-footer-policies {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-footer-policy-item {
  margin: 0;
  color: var(--color-soil);
}

/* Copyright on the Right */
.custom-footer-copyright {
  margin: 0;
  text-align: right;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  /* Parent Container Adjustments */
  .custom-footer-top {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  }

  /* Newsletter Section */
  .custom-footer-newsletter {
    text-align: center;
  }

  /* Menu Adjustments */
  .custom-footer-menu {
    justify-content: center;
    gap: 1rem;
  }

  .custom-footer-column {
    text-align: center;
  }

  /* Bottom Section */
  .custom-footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .custom-footer-policies {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
